# Dependencies
node_modules/

# User Uploaded Media & E-Paper Data (Without Data)
uploads/*
!uploads/.gitkeep
!uploads/epaper/
uploads/epaper/*
!uploads/epaper/.gitkeep

# Deployment Archives & Temporary Files
*.zip
*.tar.gz
*.log
*.local.json
.temp*
test-*
*.png.bak
google.png
screenshot.png

# Environment & OS files
.env
.env.local
.DS_Store
Thumbs.db
